.Rproj.user
.Rhistory
.RData
.Ruserdata
ISCB-ECCB2017.Rproj
my_poster1.aux
my_poster1.bbl
my_poster1.log
my_poster1.nav
my_poster1.out
my_poster1.snm
my_poster1.synctex.gz
my_poster1.tex
my_poster1.toc
my_poster1-concordance.tex
my_poster2-concordance.tex
my_poster2.aux
my_poster2.bbl
my_poster2.log
my_poster2.nav
my_poster2.out
my_poster2.snm
my_poster2.synctex.gz
my_poster2.tex
my_poster2.toc
